---
import { Image } from "astro:assets";
import "../../node_modules/flag-icons/css/flag-icons.min.css";

import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navbar.astro";
import AboutMe from "../components/about-me.astro";
import bastionLogo from "../static/images/bastion.jpg";
import bastionLogoChristmas from "../static/images/bastion_christmas.jpg";
import Getonbrd from "../components/getonbrd.astro";
import Projects from "../components/projects.astro";
const isChristmas = new Date().getMonth() === 11;
---

<Layout title="GrandBastion">
  <main>
    <div class="container">
      <div class="columns">
        <div class="column is-1">
          <NavBar />
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-1">
            {
              isChristmas ? (
                <Image
                  src={bastionLogoChristmas}
                  alt="Bastion Logo"
                  width={100}
                  height={100}
                  style={{ borderRadius: "50%" }}
                />
              ) : (
                <Image
                  src={bastionLogo}
                  alt="Bastion Logo"
                  width={100}
                  height={100}
                  style={{ borderRadius: "50%" }}
                />
              )
            }
          </div>
          <div class="column">
            <div class="title-group">
              <h5 class="title">GrandBastion</h5>
              <Getonbrd />
            </div>
            <h6 class="subtitle">The easy part, start. The hard part, keep going.</h6>
          </div>
        </div>
        <AboutMe />
        <Projects />
      </div>
    </section>
  </main>
</Layout>

<script>
  const isChristmas = new Date().getMonth() === 11;
  if (isChristmas) {
    const tree = String.raw`%c
             *            
            /|\                  
           /*|O\           
          /*/|\*\          
         /X/O|*\X\         
        /*/X/|\X\*\        
       /O/*/X|*\O\X\              
      /*/O/X/|\X\O\*\      
     /X/O/*/X|O\X\*\O\     
    /O/X/*/O/|\X\*\O\X\    
            |X|            
            |X|            
  `;
    console.log(tree, "font-family:monospace;color: green;");
  }
</script>
