---
import SkillsVisor from "./skills-visor.astro";
import { t } from "../i18n/translations.js";
---

<section id="about">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span data-i18n="about.description">
          {t("about.description")}
        </span>
      </div>
    </div>
    <SkillsVisor id="skills-visor" />
  </div>  
</section>