---
import JsonVisor from "./json-visor.astro";
import SkillsVisor from "./skills-visor.astro";
---

<section id="about">
  <div class="container">
    <div class="columns">
      <div class="column">
        <span>
          I'm Félix Daniel Coca Calvimontes, a Software Engineer and Tech Lead
          from Bolivia <span class="fi fi-bo"></span> with extensive experience in
          backend development and systems integration. I specialize in building scalable
          solutions, leading teams, and delivering projects that drive efficiency
          and innovation. Passionate about solving complex challenges, I bring technical
          expertise and a collaborative approach to every project.
        </span>
      </div>
    </div>
    <SkillsVisor id="skills-visor" />
  </div>  
</section>