---
import SocialButton from './social-button.astro';
---

<section id="contact" class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title">Contact</h2>
                <p>
                    I'm always open to new opportunities and collaborations.
                    Feel free to reach out to me via email or LinkedIn.
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="social-button-group">
                            <SocialButton href="mailto:daniel.uremix@gmail.com" iconUrl="https://asset.grandbastion.dev/gmail.svg" text="Email" />
                            <SocialButton href="https://www.linkedin.com/in/fdcc1991/" iconUrl="https://asset.grandbastion.dev/linkedin.svg" text="LinkedIn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
