---
import SocialButton from './social-button.astro';
import { t } from "../i18n/translations.js";
---

<section id="contact" class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title" data-i18n="contact.title">{t("contact.title")}</h2>
                <p data-i18n="contact.description">
                    {t("contact.description")}
                </p>
                <div class="columns">
                    <div class="column">
                        <div class="social-button-group">
                            <SocialButton href="mailto:daniel.uremix@gmail.com" iconUrl="https://asset.grandbastion.dev/gmail.svg" text="Email" />
                            <SocialButton href="https://www.linkedin.com/in/fdcc1991/" iconUrl="https://asset.grandbastion.dev/linkedin.svg" text="LinkedIn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
