---
let myProfileUrl = "https://www.getonbrd.com/p/felix-daniel-coca-calvimontes";
---

<div>
  <a href={myProfileUrl} target="_blank" rel="noopener noreferrer">
    <img
      src="https://asset.grandbastion.dev/getonbrd.svg"
      alt="Get on Board"
      title="Check my profile on Get on Board"
      class="cursor-pointer shake-effect"
    />
  </a>
</div>

<script>
  function triggerShake(element: any) {
    element.classList.add("shake-active");
    setTimeout(() => {
      element.classList.remove("shake-active"); // Remove the class after the animation duration
    }, 600); // Match the duration of the shake animation (0.6s)
  }
  document.addEventListener("DOMContentLoaded", () => {
    let shakeElements = document.querySelectorAll(".shake-effect");
    setInterval(() => {
      shakeElements.forEach((element) => triggerShake(element));
    }, 10000);
  });
</script>
