---
import GithubProfileModel from "../models/github-profile.js";
import { getProfile } from "../pages/api/profile";
import { JsonViewer } from "@textea/json-viewer";
const { id, data } = Astro.props;
let githubProfile = new GithubProfileModel();
const response = await getProfile();
const responseData = await response.json();
githubProfile = GithubProfileModel.fromJson(responseData);
githubProfile.addKey("skills", {
  frameworks: {
    frontend: ["Angular", "Astro"],
    backend: ["Ruby on rails", "Flask", "FastApi", "Spring Boot"],
  },
  languages: ["Javascript", "Typescript", "Python", "Java", "Ruby"],
  databases: ["PostgreSQL", "MySQL", "Redis"],
  others: ["Docker", "Kubernetes", "Git", "Jenkins", "AWS", "GCP"],
});
---

<div id={id} class="columns">
  <div class="col">
    <JsonViewer value={githubProfile.toJson()} />
  </div>
</div>

<script>
  // getting certifications from linkedin using /certifications endpoint
</script>
