---
import { ProjectStatus } from "../models/project-status";

const projectList = [
    {
        title: "Constrictor",
        description:
            "A simple and lightweight Flask boilerplate to start your projects.",
        link: "https://github.com/drkpkg/constrictor",
        status: ProjectStatus.IN_DEVELOPMENT,
    },
    {
        title: "Odoo environment (Oenv)",
        description:
            "A simple Odoo environment manager based on the concept of Pyenv.",
        link: "https://github.com/drkpkg/oenv",
        status: ProjectStatus.IN_DEVELOPMENT,
    },
];
---

<section id="projects" class="section">
    <h3 class="title">Projects</h3>
    <div class="columns is-multiline">
        {
            projectList.map((project) => (
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <h4 class="title is-4">{project.title}</h4>
                                <p>{project.description}</p>
                                <div class="tags">
                                    <span class="tag is-primary">
                                        <a
                                            href={project.link}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                        >
                                            View on GitHub
                                        </a>
                                    </span>
                                    <span class="tag is-info">
                                        {project.status}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>
